<h1>AAAARRRHH ! Make me fight !</h1>

FIGHT FIGHT
FIGHT

<h2>Show me all me farrgin' crew !</h2>
<%= render partial: "form_core", locals: { pirate: @pirate, btn_label: "Get me a new pirate !"} %>

<ul>
  <%= render @pirates %>
</ul>
